<% if (main) { %>
<form action="/login">
    <div class="form-group">
        <input class="btn btn-secondary btn-sm" type="submit" value="Login">
    </div>
</form>
<br>
<form action="/signup">
    <div class="form-group">
        <input class="btn btn-secondary btn-sm" type="submit" value="Sign Up">
    </div>
</form>

<% } %>