<% if (error) { %>
    <div class="container text-center my-3">
    <div class="jumbotron" style="background-color: red;color: white;">
        <h1>La página no existe</h1>
    </div>
</div>

<script>
    // function redireccionar(pagina) {
    //     location.href = pagina;
    // } 

    // setTimeout(redireccionar, 1500, '/');
    
</script>
<% } %>

